# Exclude build and dist folders
build/
dist/

# Exclude PyInstaller spec files
*.spec
start.bat

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude virtual environment folders
venv/
env/